@tailwind base;
@tailwind components;
@tailwind utilities;
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.selected,
[role="option"]:hover {
  background: #eee;
  color: #000;
  border-color: #fff;
  cursor: pointer;
}

.suggestions-help {
  position: absolute;
  left: 9999px;
}

.suggestions {
  position: relative;
}

[role="listbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

[role="option"] {
  padding: 0.25em;
  background-color: #fff;
  color: #000;
  border-top: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
